# Ignore Python virtual environments
.venv/
venv/
env/
ENV/
.env

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Ignore OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore environment variable files
.env
.env.*

# Ignore Kaggle API token
kaggle.json